body{
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.nav{
    padding: 15px 170px;
    font-size: 30px;
}

.nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav a:hover{
    color: rgb(63, 197, 141);
}

.contact-grid{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 30px;
    background-color: rgb(14, 14, 14);
    padding: 30px;
    border-radius: 20px;
    margin: 20px 100px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.contact-grid span{
    font-size: 25px;
    color: rgb(63, 197, 141);
}

.left-div{
    text-align: right;
}

.right-div{
    display: block;
}

.right-div-3{
    display: none;
}


@media (max-width:1330px){
    .right-div{
        display: none;
    }

    .right-div-2{
        display: block;
    }

    .contact-grid{
        margin: 20px 200px;
    }
}

@media (max-width:1111px){
    .right-div-2{
        display: none;
    }
    .contact-grid{
        grid: none;
    }
    .left-div{
        text-align: center;
    }
}

@media (max-width:700px){
    .contact-grid{
        margin: 20px 20px;
    }
}

@media (max-width:514px){
    .nav{
        margin: 10px;
        padding: 0;
        text-align: center;
    }
}