/* Fundamentals Start */

:root{

    --paragraph-size: 16px;
    --sub-header-size: 24px;
    --header-size: 32px;

    --pc-paragraph-size: 32px;
    --pc-sub-header-size: 48px;
    --pc-header-size: 64px;


    --inline-padding: 20px;
    --block-padding: 50px;


    --primary-color: #C2C2C2;
    --secondary-color: #506C53;
    --third-color: #fff;

}

html{
    scroll-behavior: smooth;
}

*{
    text-underline-offset: 3px;
}

button{
    cursor: pointer;
    box-shadow: 0 5px 3px #00000014;
    transition: .18s;
}

button:hover{
    scale: 105%;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

.body-background{
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    transition: .5s;
}


/* Fundamentals End */


.nav{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 40px;
    padding-top: 20px;
}

.nav-bar{
    display: none;
}

.nav img{
    width: 120px;
    margin-top: -20px;
    margin-left: 0px;
}

.docs-container{
    margin-block: 150px 100px;
    max-width: 400px;
    margin-inline: auto;
    padding-inline: 20px;
    text-align: center;
}

.hero-header{
    font-size: var(--header-size);
    font-weight: bold;
    margin-bottom: 90px;
}

.docs-grid-blocks{
    display: grid;
    grid-template-columns: 1fr auto;
}

.docs-container a{
    padding-block: 5px;
    color: #000;
    text-decoration: none;
}

.docs-container a span{
    color: #fff;
}

.docs-container .download-buttons{
    padding: 5px 15px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
}

#PAIA{
    transition: .15s;
}

#PAIA:hover{
    scale: 103%;
    opacity: .8;
}

#docRequestForm{
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 300px;
    background-color: #fff;
    color: #000;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    border: 1px #5F5F5F solid;
    border-radius: 20px;
    box-shadow: 0 10px 7px #0000003a;
    padding: var(--inline-padding);
    max-width: 600px;
    z-index: 3;
}

.requestDocTopSection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.requestDocTopSection i{
    font-size: 30px;
}

#requestFormHeader{
    text-align: center;
    font-size: var(--sub-header-size);
    font-weight: bold;
    margin: 0;
}

input{
    font-size: inherit;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid grey;
}

#requestBTN{
    padding-block: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}



#footer{
    background-color: #D9D9D9;
    padding: var(--block-padding) var(--inline-padding);
}

.footer-grid{
    display: grid;
    gap: 20px;
    text-align: center;
}

#footer a{
    margin-bottom: 40px;
    color: #000;
    text-decoration: none;
}

.footer-left,
.footer-center,
.footer-right{
    display: grid;
    gap: 10px;
}

.footer-left{
    grid-template-columns: 20px 20px 20px 20px;
    gap: 40px;
    margin-inline: auto;
}

.footer-center-headers{
    font-size: 20px;
}

.yerrr1{
    margin-top: -10px;
}

.yerrr2{
    margin-top: 40px;
}

.footer-grays{
    color: #5F5F5F;
}

.footer-bottom, .footer-bottom-right a{
    color: #5F5F5F !important;
}

.footer-bottom{
    display: grid;
    gap: 20px;
    text-align: center;

}




@media (min-width: 769px){

    :root{
        --block-padding: 60px;
        --inline-padding: 40px;
    }

    .nav-bar{
        display: flex;
        position: fixed;
        background-color: #34343479;
        top: 50px;
        right: 100px;
        width: 500px;
        padding: 10px 20px;
        border: 1px solid #cdcdcd;
        border-radius: 20px;
        justify-content: space-between;
        backdrop-filter: blur(10px);
    }

    .nav-bar a{
        text-decoration: none;
        color: #fff;
    }

    .nav img{
        margin-top: 0;
        margin-left: 90px;
    }

    .docs-container{
        margin-block: 200px 100px;
        max-width: 600px;
        background-color: #a7a7a7;
        padding: 30px 30px 50px;
        border-radius: 10px;
    }

    .docs-container a{
        font-size: var(--sub-header-size);
        text-align: left;
    }

    .hero-header{
        margin-block: 20px 90px;
    }
    
    

    .footer-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #footer{
        padding-block: 80px 40px;
    }

    .footer-grid{
        max-width: 1100px;
        margin-inline: auto;
    }

    .footer-left{
        text-align: left;
        grid-template-columns: none;
        gap: 10px;
        margin-inline: 0;
    }

    .footer-right{
        text-align: right;
    }

    .footer-bottom{
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid #A2A2A2;
        max-width: 1100px;
        margin-inline: auto;
    }

    .footer-bottom-left{
        text-align: left;
    }

    .footer-bottom-right{
        text-align: right;
    }


}