html{
	scroll-behavior: smooth;
}



@media (min-width:250px){


  body{
      margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			background-color: rgb(131, 157, 183);
    }

  .nav{
      	background-color: rgb(62, 76, 94);
		padding-top: 10px;
		padding-bottom: 10px;
      	text-align: center;
      	font-size: 20px;
      	color: rgb(131, 157, 183);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		cursor: pointer;
    }

	.nav a{
		color:rgb(131, 157, 183);
		text-decoration: none;	}

	.nav span{
		font-size: 24px;
	}

    .about-us{
		color: white;
		background-color: rgb(131, 157, 183);
		font-size: 15px;
		line-height: 30px;
		padding: 25px;
		padding-top: 0;
		padding-top: 70px;
	}

	.about-us span{
		color: rgb(131, 157, 183);
		font-size: 20px;
		font-weight: bold;
        display: none;
	}

	

	.sub-divisions-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 20px 5%;
		column-gap: 20%;
		row-gap: 4%;
		margin: 40px 0;
		background-color: white;
		border-radius: 20px;
	}

	#intensive-cleaning-img{
		width: 100%;
	}

	#still-water-img{
		width: 100%;
	}

	#coffee-box-img{
		width: 100%;
	}

	#architects-img{
		width: 100%;
	}

	#mental-health-img{
		width: 100%;
	}

	#education-training-img{
		width: 100%;
    }

	.footer{
		font-size: 15px;
		background-color: rgb(72, 93, 122);
		color: rgb(131, 157, 183);
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		line-height: 30px;
	}

	.footer span{
		color: rgb(131, 157, 183);
		font-weight: bold;
		text-decoration: underline;
	}

	.footer a{
		text-decoration: none;
	}

	.footer b{
        color: white;
        font-weight: normal;
    }

}

@media (min-width:500px){
	.sub-divisions-grid{
		padding: 0 15%;
		padding-top: 40px;
		padding-bottom: 120px;
		column-gap: 40%;
		row-gap: 10%;
	}

	.about-us{
		padding-bottom: 100px;
	}
}

@media (min-width:769px){
	.contact-details{
		text-align: left;
		margin-left: 30px;
		margin-top: 20px;
	}
}

@media (min-width:1025px){
	.about-us{
		display: grid;
		grid-template-columns: 3fr 2fr;
		padding-left: 50px;
		padding-right: 50px;
	}

	.sub-divisions-grid{
		padding: 0 10%;
		padding-top: 40px;
		padding-bottom: 100px;
		border-radius: 20px;
		column-gap: 30%;
		row-gap: 10%;
		margin-right: 50px;
		margin-top: 0;
		background-color: white;
	}
}