html{
	scroll-behavior: smooth;
}



@media (min-width:250px){


  body{
      margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			background-color: rgb(131, 157, 183);
    }

  .nav{
      	background-color: rgb(62, 76, 94);
		padding-top: 20px;
		padding-bottom: 20px;
      	text-align: center;
      	font-size: 30px;
      	color: rgb(131, 157, 183);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		cursor: pointer;
		line-height: 20px;
    }

	.nav a{
		color:rgb(131, 157, 183);
		text-decoration: none;
	}

	.nav b{
		font-size: 15px;
		font-weight: normal;
		color: white;
		letter-spacing: 3px;
	}

	.spray-img{
		width: 100%;
		object-fit: cover;
	}

	.homeview{
		position: relative;
		height: 300px;
		display: flex;
		justify-content: center;
	}

	.logo-homeview{
		position: absolute;
		width: 150px;
		top: 80px;
	}

	.gradient{
		background-image: linear-gradient(rgb(74, 140, 169),rgb(131, 157, 183));
		height: 20px;
	}

	.about-us{
		color: white;
		background-color: white;
		font-size: 15px;
		line-height: 30px;
		padding: 25px;
		
	}

	.about-us span{
		color: rgb(131, 157, 183);
		font-size: 20px;
		font-weight: bold;
	}

	.sub-divisions-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0 5%;
		column-gap: 20%;
		row-gap: 4%;
		margin: 40px 0;
	}

	

	#still-water-img{
		width: 100%;
	}

	#coffee-box-img{
		width: 100%;
	}

	#architects-img{
		width: 100%;
	}

	#mental-health-img{
		width: 100%;
	}

	#education-training-img{
		width: 100%;
	}

	.our-products{
		display: none;
	}

	.our-products-1{
		color: white;
		background-color: rgb(62, 76, 94);
		font-size: 15px;
		line-height: 40px;
		padding: 25px;
	}

	.our-products-1 p{
		margin: 0;
	}

	.our-products-1 span{
		color: rgb(131, 157, 183);
		font-size: 20px;
		font-weight: bold;
	}

	.our-products-1 ul{
		list-style-type: square;
	}


	.our-services{
		color: black;
		background-color: rgb(231, 231, 231);
		font-size: 15px;
		line-height: 40px;
		padding: 25px;
		
	}

	.our-services p{
		line-height: 25px;
	}

	.service-1-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-1{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-1-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
		
	}

	.service-2-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-2{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: bottom;
		border-radius: 20px;
	}

	.service-2-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-3-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-3{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-3-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-4-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-4{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-4-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-5-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-5{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-5-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-6-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-6{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-6-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-7-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-7{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-7-div p{
		position: absolute;
		bottom: -4px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-8-div{
		width: 100%;
		height: 80px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	#service-img-8{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.service-8-div p{
		position: absolute;
		bottom: 8px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.our-services .description1{
		color: rgb(131, 157, 183);
		font-size: 20px;
		font-weight: bold;
	}

	.our-services .description2{
		color: rgb(131, 157, 183);
		font-weight: bold;
		font-size: 18px;
	}

	.our-services-2{
		display: none;
	}

	.about-us{
		color: white;
		background-color: rgb(62, 76, 94);
		font-size: 15px;
		line-height: 30px;
		padding: 25px;
		
	}

	.about-us span{
		color: rgb(131, 157, 183);
		font-size: 20px;
		font-weight: bold;
	}

	.mission-vision-values{
		display: grid;
		grid-template-columns: 1fr;
		background-color: rgb(62, 76, 94);
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 10px;
		text-align: center;
		border-top: 2px white solid;
		border-bottom: 2px white solid;
	}

	.mission{
		color: white;
		background-color: rgb(131, 157, 183);
		font-size: 15px;
		line-height: 25px;
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.vision{
		color: white;
		background-color: rgb(131, 157, 183);
		font-size: 15px;
		line-height: 25px;
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.values{
		color: white;
		background-color: rgb(131, 157, 183);
		font-size: 15px;
		line-height: 25px;
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.mission span{
		color: rgb(62, 76, 94);
		font-weight: bold;
		font-size: 20px;
	}

	.vision span{
		color: rgb(62, 76, 94);
		font-weight: bold;
		font-size: 20px;
	}

	.values span{
		color: rgb(62, 76, 94);
		font-weight: bold;
		font-size: 20px;
	}

	.health-page{
		margin: 10px 10px 20px 10px;
		padding: 20px;
		background-color: rgb(62, 76, 94);
		color: white;
		border-radius: 10px;
		display: none;
	}

	.health-page b{
		color: rgb(131, 157, 183);
	}

	.health-page button{
		font-size: 18px;
		padding: 10px 20px 10px 20px;
		border-color: yellow;
		border-style: solid;
		color: yellow;
		background-color: rgb(131, 157, 183);
		cursor: pointer;
		border-radius: 10px;
	}

	.health-page button:hover{
		opacity: 0.7;
	}

	.health-page button:active{
		background-color: yellow;
		color: black;
	}

	.logo-quote{
		display: block;
		width: 150px;
		height: 150px;
		object-fit: cover;
		object-position: top;
		border-radius: 50%;
	}

	.quote{
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		padding-top: 50px;
		background-color: rgb(131, 157, 183);
		padding: 20px;
	}

	.quote-text{
		text-align: center;
		color: white;
	}

	.quote-text span{
		font-weight: bold;
		font-size: 18px;
	}

	.contact-details b{
		font-size: 20px;
	}

	.contact-details{
		font-size: 15px;
		color: white;
		text-align: left;
		padding-left: 50px;
		padding-top: 20px;
	}

	.footer{
		font-size: 15px;
		background-color: rgb(72, 93, 122);
		color: rgb(131, 157, 183);
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		line-height: 30px;
	}

	.footer span{
		color: rgb(131, 157, 183);
		font-weight: bold;
		text-decoration: underline;
	}

	.footer a{
		text-decoration: none;
	}

	.footer b{
        color: white;
        font-weight: normal;
      }


}

@media (min-width:411px){
	.service-7-div p{
		left: 3%;
		bottom: 10%;
	}
}

@media (min-width:437px){
	.our-products-1{
		display: none;
	}

	.our-products{
		color: white;
		font-size: 15px;
		line-height: 40px;
		width: 100%;
		position: relative;
		display: block;
	}

	.products-img{
		width: 100%;
		object-fit: cover;
		max-height: 650px;
	}

	.our-products p{
		margin: 0;
		position: absolute;
		top: 50px;
		left: 30%;
	}

	.our-products p span{
		font-size: 30px;
		color: white;
	
	}

	.our-products span{
		color: rgb(131, 157, 183);
		font-size: 20px;
		font-weight: bold;
	}

	.our-products ul{
		list-style-type: square;
	}

	.our-products-list{
		position: absolute;
		top: 150px;
		font-weight: bold;
		font-size: 18px;
		line-height: 50px;
	}

	.contact-details b{
		font-size: 25px;
	}

	.contact-details{
		font-size: 15px;
		color: white;
		text-align: left;
		padding-left: 50px;
		padding-top: 20px;
	}

}

@media (min-width:769px){
	.mission-vision-values{
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 10px;
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 0;
	}
}

@media(min-width:900px){
	.our-products-list{
		left: 18%;
		background-color: rgba(0, 0, 0, 0.808);
		padding-left: 80px;
		padding-right: 100px;
		border-radius: 20px;
	}

	.service-7-div .description2{
		color: white;
	}

	.our-products p{
		left: 40%;
	}

	.mission-vision-values{
		margin: 0;
	}

	.services-wrap{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 20px;
		margin-top: 30px;
	}

	#service-description{
		padding-left: 5px;
	}

	.our-services .description1{
		font-size: 30px;
	}

	.about-us span{
		font-size: 30px;
	}

	.mission span{
		font-size: 25px;
	}

	.vision span{
		font-size: 25px;
	}

	.values span{
		font-size: 25px;
	}

	.health-page p b{
		font-size: 18px;
	}

	.service-1-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-1-div p{
		position: absolute;
		bottom: 30px;
		left: 18%;
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	.service-2-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-2-div p{
		position: absolute;
		bottom: 20px;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-3-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-3-div p{
		position: absolute;
		bottom: 30px;
		left: 30%;
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	.service-4-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-4-div p{
		position: absolute;
		bottom: 30px;
		left: 12%;
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	.service-5-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-5-div p{
		position: absolute;
		bottom: 30px;
		left: 10%;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-6-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-6-div p{
		position: absolute;
		bottom: 32px;
		left: 15%;
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	.service-7-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-7-div p{
		position: absolute;
		bottom: 15%;
		left: 10%;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.service-8-div{
		width: 100%;
		height: 130px;
		position: relative;
		background-color: transparent;
		border: none;
		margin-bottom: 10px;
	}

	.service-8-div p{
		position: absolute;
		bottom: 30px;
		left: 10%;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

}

@media (min-width:1100px){
	.our-products p{
		left: 43%;
	}

	.our-products-list{
		left: 25%;
	}
}

@media (min-width:1200px){
	.page-wrap{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}

	.health-page{
		width: 40%;
	}

	.bottom-border{
		border-top: 2px solid white;
	}

	.service-1-div p{
		left: 25%;
	}

	.service-2-div p{
		left: 12%;
		bottom: 25%;
	}

	.service-3-div p{
		left: 35%;
	}

	.service-4-div p{
		left: 20%;
	}

	.service-5-div p{
		left: 23%;
	}

	.service-6-div p{
		left: 25%;
	}

	.service-8-div p{
		left: 15%;
		font-size: 25px;
	}
}

@media (min-width:1216px){
	.service-7-div p{
		bottom: 25%;
		left: 4%;
	}
}

@media (min-width:1350px){
	.our-products p{
		left: 43%;
	}

	.our-products-list{
		left: 28%;
	}
}