@media (min-width: 250px){

    .missions2{
        display: none;
    }

    #ribbons-wt1{
        width: 40px;
        transform: rotate(340deg);
    }

    .left-side{
        display: none;
    }

    .ribbons-bg{
        position: absolute;
        top: 0;
        z-index: 0.5;
        opacity: 0.3;
        margin-inline: -30px;
        display: none;
        opacity: 0;
    }

    #ribbons-wt2{
        width: 40px;
        margin-right: 10px;
        margin-left: -10px;
        margin-bottom: 10px;
        transform: rotate(340deg);
    }

    .ribbons-bg2{
        position: absolute;
        top: 150px;
        z-index: -1;
        opacity: .13;
        margin-inline: -30px;
    }

    .services-containor{
        position: relative;
        overflow: hidden;
        padding-bottom: 10px;
    }

    body{
        margin: 0;
        font-family: 'poppins', sans-serif;
    }

    .home-div{
        background-image: linear-gradient(to bottom right, rgb(116, 202, 214), rgb(37, 118, 129));
        padding-block: 10px;
        color: white;
        position: relative;
    }

    .nav{
        display: flex;
    }

    .nav button{
        background-color: transparent;
        border: none;
        width: 55px;
    }

    button img{
        width: 100%;
        transform: rotate(340deg);
        cursor: pointer;
    }

    #lemon-bold{
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: 0.5px;
    }

    #mental-small{
        text-align: center;
        margin-top: -25px;
        margin-left: 4px;
        letter-spacing: 4px;
    }

    .description{
        margin-inline: 20px;
        padding: 15px;
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.336), rgba(255, 255, 255, 0.171));
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        transition:  1s;
    }

    .focus{
        display: none;
        position: absolute;
        top: 30px;
        left: 50%;
        width: 85%;
        transform: translateX(-50%);
        background-image: linear-gradient(to bottom right, rgb(46, 130, 141), rgb(8, 42, 48));
        color: white;
        padding: 20px;
        border-radius: 20px;
        transition: 1s;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.493);
        box-shadow: inset 3px 3px 20px 3px rgba(0, 0, 0, 0.315);
        animation-name: intro;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

   @keyframes intro{
    from{
        top: 0px; opacity: 0;
    }

    to{
        top: 30px; opacity: 1;
    }
   }

    .description span{
        font-size: 12px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.158);
        border-radius: 30px;
        white-space: nowrap;
        transition: .15s;
        cursor: pointer;
    }

    #services-header{
        margin-top: 20px;
        font-size: 24px;
        text-align: center;
        font-weight: 900;
    }

    #services-description{
        font-size: 18px;
        margin-inline: 20px;
        font-weight: 800;
        color: rgb(150, 150, 150);
    }

    .list-div{
        position: relative;
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .list-div2{
        display: none;
    }

    .left-dark1{
        position: absolute;
        background-color: rgba(113, 113, 113, 1);
        top: 30px;
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .left-light1{
        position: absolute;
        top: 90px;
        background-color: rgb(160, 160, 160);
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .left-dark3{
        position: absolute;
        background-color: rgba(113, 113, 113, 1);
        top: 310px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .left-dark3{
        position: absolute;
        background-color: rgba(113, 113, 113, 1);
        top: 660px;
        margin-right: 20px;
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .left-light3{
        position: absolute;
        top: 392px;
        margin-right: 20px;
        background-color: rgb(160, 160, 160);
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .right-dark2{
        position: absolute;
        top: 170px;
        right: 20px;
        background-color: rgba(113, 113, 113, 1);
        text-align: right;
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .right-light2{
        position: absolute;
        top: 230px;
        right: 20px;
        background-color: rgb(160, 160, 160);
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .right-dark4{
        position: absolute;
        top: 500px;
        right: 20px;
        background-color: rgba(113, 113, 113, 1);
        text-align: right;
        margin-bottom: 10px;
        margin-left: 20px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .left-dark5{
        position: absolute;
        top: 310px;
        background-color: rgba(113, 113, 113, 1);
        text-align: left;
        margin-right: 20px;
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .right-light4{
        position: absolute;
        top: 580px;
        right: 20px;
        background-color: rgb(160, 160, 160);
        margin-bottom: 10px;
        padding-block: 15px;
        padding-inline: 25px;
        border-radius: 30px;
        display: inline-block;
    }

    .services-containor button{
        position: absolute;
        top: 930px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        font-weight: bold;
        padding: 15px 25px;
        margin-bottom: 20px;
        color: white;
        border-radius: 30px;
        border: 2px solid white;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.562);
        background-image: linear-gradient(to bottom right, rgb(46, 130, 141), rgb(8, 42, 48));
        transition: 0.15s;
        white-space: nowrap;
        cursor: pointer;
    }

    .services-containor button:hover{
        background-image: linear-gradient(to bottom right, rgb(18, 68, 77), rgb(8, 42, 48));
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.185);
    }

    .services-containor button:active{
        background-image: linear-gradient(to bottom right, rgb(8, 42, 48), rgb(8, 42, 48));
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0);
    }

    #t-c{
        margin-top: 670px;
        margin-inline: 20px;
        text-align: center;
        color: rgb(185, 185, 185);
        font-size: 14px;
    }

    .footer{
        padding: 30px 20px;
        text-align: center;
        color: rgba(113, 113, 113, 1);
        background-color: rgba(44, 44, 44, 1);
        font-size: 20px;
    }

    #bold-missions{
        font-weight: bold;
    }

    .contact-us{
        background-color: rgba(44, 44, 44, 1);
        text-align: center;
        color: white;
        margin-top: 70px;
    }

    #contact-header{
        margin-top: 0;
        margin-bottom: 40px;
        font-weight: bold;
    }

    #nje{
        margin-bottom: 0;
    }

    .developer{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 30px;
        background-color: rgba(44, 44, 44, 1);
    }

    .developer a{
        font-weight: bold;
        color: rgba(113, 113, 113, 1);
    }

    .fa-regular, .fa-sharp, .fa-brands{
        color: rgb(65, 159, 248);
    }
}

@media (min-width: 332px){
    .services-containor button{
        top: 910px;
    }

    #t-c{
        margin-top: 650px;
    }
}

@media (min-width: 352px){
    .right-light4{
        top: 560px;
    }

    .right-dark4{
        top: 480px;
    }
}

@media (min-width: 359px){
    .right-light4{
        top: 540px;
    }

    .right-dark4{
        top: 480px;
    }

    .left-dark3{
        top: 630px;
    }

    .services-containor button{
        top: 890px;
    }

    #t-c{
        margin-top: 630px;
    }
}

@media (min-width: 367px){
    .left-light3{
        top: 372px
    }

    .left-dark3{
        top: 595px
    }

    .right-dark4{
        top: 452px;
    }

    .right-light4{
        top: 515px;
    }

    .services-containor button{
        top: 850px;
    }

    #t-c{
        margin-top: 590px;
    }
}

@media (min-width: 434px){
    .services-containor button{
        top: 830px;
    }
}

@media (min-width: 481px){
    .left-dark1{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
    }

    .left-light1{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
    }

    .left-dark3{
        position: static;
        margin-right: 0;
        margin-bottom: 10px;
        display: inline-block;
    }

    .left-dark3{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
    }

    .left-light3{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 0;
    }

    .right-dark2{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
    }

    .right-light2{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
    }

    .right-dark4{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
        margin-left: 0;
    }

    .left-dark5{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 0;
    }

    .right-light4{
        position: static;
        margin-bottom: 10px;
        display: inline-block;
    }

    .list-div{
        display: none;
    }

    .list-div2{
        display: block;
        position: relative;
        padding: 20px;
        padding-top: 70px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    #services-description{
        margin-bottom: 0;
        text-align: center;
    }

    .services-containor button{
        top: 650px;
    }

    #t-c{
        margin-top: 130px;
        padding-inline: 40px;
    }

    .description{
        margin-inline: 70px;
    }

    .focus{
        width: 70%;
    }
}

@media (min-width:526px){
    .services-containor button{
        top: 590px;
    }

    #t-c{
        margin-top: 130px;
    }
}

@media (min-width:600px){
    .focus{
        width: 75%;
    }
}

@media (min-width:618px){
    .services-containor button{
        top: 530px;
    }
}

@media (min-width:683px){
    .services-containor button{
        top: 470px;
    }

    .description{
        margin-inline: 100px;
    }

    .focus{
        width: 70%;
    }
}

@media (min-width: 769px){
    .left-side{
        display: block;
    }

    .home-div-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 50px;
    }

    #doc-img{
        width: 200px;
        margin-left: 80px;
    }

    #lemon-bold{
        text-align: left;
        margin-left: 20px;
    }

    #mental-small{
        text-align: left;
        margin-left: 20px;
    }

    .description{
        margin-left: 0;
    }

    .description span:active{
        transition: 0s;
        background-color: rgba(255, 255, 255, 0.445);
    }

    .services-containor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 220px;
        padding-inline: 50px;
    }

    .ribbons-bg2{
        top: 30px;
    }

    #ribbons-wt2{
        width: 70px;
        opacity: .8;
    }

    .left-header{
        padding-top: 40px;
    }

    #services-header{
        text-align: left;
        margin-bottom: 10px;
    }

    #services-description{
        margin: 0;
        text-align: left;
    }

    .list-div2{
        text-align: left;
    }

    .right-dark4{
        text-align: left;
    }

    .services-containor button{
        top: 730px;
    }

    #t-c{
        position: absolute;
        top: 700px;
    }

    .missions2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        column-gap: 50px;
        padding-inline: 20px;
        padding-top: 10px;
    }

    .missions2 span{
        font-weight: bold;
    }

    .contact-us{
        text-align: left;
        padding-inline: 20px;
    }

}

@media (min-width: 803px){
    .services-containor button{
        top: 710px;
    }

    #t-c{
        position: absolute;
        top: 680px;
    }
}

@media (min-width: 817px){
    .services-containor button{
        top: 690px;
    }

    #t-c{
        position: absolute;
        top: 660px;
    }
}

@media (min-width: 833px){
    .services-containor button{
        top: 670px;
    }

    #t-c{
        position: absolute;
        top: 640px;
    }
}

@media (min-width: 868px){
    .services-containor button{
        top: 620px;
    }

    #t-c{
        margin-inline: 0;
        position: absolute;
        top: 590px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1037px){
    .services-containor button{
        top: 560px;
    }

    #t-c{
        top: 530px; 
    }

    .description{
        margin-right: 200px;
    }

    #doc-img{
        margin-left: 200px;
    }
}

@media (min-width: 1151px){
    .services-containor button{
        top: 500px;
    }

    #t-c{
        top: 470px; 
    }

    #doc-img{
        margin-left: 300px;
    }

}

@media (min-width: 1336px){
    .services-containor button{
        top: 440px;
    }

    #t-c{
        top: 410px; 
    }

    .list-div2{
        max-width: 578px;
    }

    .left-header{
        padding-left: 150px;
    }

}

@media (min-width: 1536px){
    .left-header{
        padding-left: 150px;
    }

}